/* =====================================
   Utilities.
==================================== */

/* Спрайты */

$icons: sprite-map("icons/*.png", $spacing: 5px, $layout: horizontal);

.social {
  display: block;
}

.fb-header {
  width: sprite-width($icons, fb-header);
  height: sprite-height($icons, fb-header);
  background: sprite($icons, fb-header);
}

.vk-header {
  width: sprite-width($icons, vk-header);
  height: sprite-height($icons, vk-header);
  background: sprite($icons, vk-header);
}

.inst-header {
  width: sprite-width($icons, inst-header);
  height: sprite-height($icons, inst-header);
  background: sprite($icons, inst-header);
}