.b-header-banner {
  min-width: 100%;
  background: $color-2;
  background-size: 100%;
}

.banner-list {
  height: 35px;
  font-size: $font-SL;
  margin: 0;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  li {
    display: inline-block;
    margin-left: 155px;
    &:first-of-type {
      margin-left: 50px;
      color: $color-white;
    }
    &:last-of-type {
      color: rgba($color-white, .5);
    }
  }
  .btn-header {
    background-color: $color-3;
    border-bottom: 2px solid #e8c319;
    padding: 2px 23px 2px;
  }
}

